*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
}
.container{
    margin-right: 20px;   
} 

img{
    width: 100%;
  }
  .title{
    font-weight: bold;
    margin-bottom: 1em;
    color:white
  }
  .channel, .views{
    font-size: medium;
    color:#000000;
    margin-bottom: 0.2em;
  }
  
  .views span{
    padding: 0 0.5em;
  }